.product-image {
    display: block;
    margin: 20px auto;
    width: 150px; /* Ajusta el tamaño según lo que prefieras */
    height: auto; /* Mantiene las proporciones */
  }
  .app{
    background: green;
  }
  